body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vh;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}